.BlogsPage {
    border: 1px solid;
    min-height: 90vh;
    overflow-y: scroll;
}

.BlogsPage .row {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.BlogsPage .btnPlacement {
    display: flex;
    justify-content: end;
    height: 6vh;
    align-items: flex-end;
}

.BlogsPage .row .blogsMapped {
    height: 80vh;
}

.BlogsPage .row .blogsMapped img {
    height: 50%;
    width: 90%;
    border-radius: 10px;
    overflow: scroll;
}

.BlogsPage .row .blogsMapped .imageHolder {
    display: flex;
    justify-content: center;
}

.BlogsPage .row .blogsMapped .imageHolder .title {
    font-size: 28px;
    font-family: 'Castoro Titling', cursive;
}

.BlogsPage .row .blogsMapped .imageHolder .time {
    color: grey;
}

.BlogsPage .row .blogsMapped .descriptionBox {
    overflow-y: hidden;
    height: 35%;
    overflow-y: scroll;
    border: 3px solid whitesmoke;
    font-family: 'Playfair Display', serif;
}

.BlogsPage .row .blogsMapped .extra {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-right: 30px;
    margin-left: 30px;
}

.BlogsPage .row .blogsMapped .extra i {
    font-size: 25px;
}

.BlogsPage .row .blogsMapped .extra .likes {
    font-size: 28px;
    font-weight: 300;
    margin-left: 3px;
}